@model dynamic

@{
    ViewBag.Title = "Thanks for signing up - Jarboo";
}
@section Header {
<!-- Facebook Conversion Code for Lead conversion -->
<script>(function() {
var _fbq = window._fbq || (window._fbq = []);
if (!_fbq.loaded) {
var fbds = document.createElement('script');
fbds.async = true;
fbds.src = '//connect.facebook.net/en_US/fbds.js';
var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(fbds, s);
_fbq.loaded = true;
}
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', '6030769261198', {'value':'0.01','currency':'DKK'}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6030769261198&amp;cd[value]=0.01&amp;cd[currency]=DKK&amp;noscript=1" /></noscript>
}
<div class="row content-row">
    <div class="content-wrapper">
        <div class="col-md-12 col-sm-12 col-xs-12 section1-text">
            <h1>Thanks - we are getting back to you</h1>
            <p>We usually reply fast (hours, not days), but sometimes it might take up to 24 hours - no matter what, we will hurry!</p>
            <p>In the mean time, why not enjoy our PDF below?</p>
        </div>
    </div>
</div>

@Html.Partial("_Ebook")*-
