@model dynamic

@{
    ViewBag.Title = "Thanks for signing up - Jarboo";
}

<div class="row content-row">
    <div class="content-wrapper">
        <div class="col-md-12 col-sm-12 col-xs-12 section1-text">
            <h1>Thanks - we are getting back to you</h1>
            <p>We usually reply fast (hours, not days), but sometimes it might take up to 24 hours - no matter what, we will hurry!</p>
            <p>In the mean time, why not enjoy our PDF below?</p>
        </div>
    </div>
</div>

@Html.Partial("_Ebook")*-
