@model dynamic

@{
    ViewBag.Title = "Confirmed";
}

<div class="row content-row">
    <div class="content-wrapper">
        <div class="col-md-12 col-sm-12 col-xs-12 section1-text">
            <h1>Thanks: we're getting back to you</h1>
            <p>Unless you've signed up while we're sleeping, chances are we will get back to you very fast. No matter what, we usually respond within 24 hours.</p>

            @Html.Partial("_Ebook")
        </div>
    </div>
</div>

