@font-face { font-family: 'Raleway'; font-weight: 200; src: url("../fonts/Raleway-ExtraLight.eot"); src: url("../fonts/Raleway-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-ExtraLight.woff") format("woff"), url("../fonts/Raleway-ExtraLight.ttf") format("truetype"), url("../fonts/Raleway-ExtraLight.svg#Raleway-ExtraBold") format("svg"); }
@font-face { font-family: 'Raleway'; font-weight: 300; src: url("../fonts/Raleway-Light.eot"); src: url("../fonts/Raleway-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Light.woff") format("woff"), url("../fonts/Raleway-Light.ttf") format("truetype"), url("../fonts/Raleway-Light.svg#Raleway-ExtraBold") format("svg"); }
body { font-family: "Raleway"; overflow-x: hidden !important; }

img { max-height: 100%; max-width: 100%; }

.navbar-brand { margin-top: -10px; height: 70px; margin-bottom: -10px; width: 174px; padding: 0px; }

.navbar-default { border-radius: 0px; padding-top: 20px; padding-bottom: 20px; padding-right: 2%; padding-left: 2%; }

.header-button-a { padding: 0px; }

.header-li-margin-element { margin-right: 20px; }

.header-container { width: 95%; margin: 0 auto; }

.above-header-CTA { height: 50px; }

.CTA-mail-head { padding: 0px; padding-top: 8px; padding-bottom: 8px; padding-left: 5%; }

.CTA-buttons-head { height: 50px; }

.CTA-button-full-head { height: 50px; width: 95%; border: none; margin: 0 auto; background: #0976BB; text-align: center; margin-top: 0px; padding-top: 5px; color: white; transition: 0.5s all; }

.CTA-button-ghost-head { height: 30px; width: 95%; border: 2px solid #0976BB; background: white; margin: 0 auto; text-align: center; margin-top: 10px; padding-top: 5px; color: #0976BB; transition: 0.5s all; }

.CTA-button-full-head:hover { background: #0a5b8e; transition: 0.5 all; }

.CTA-button-ghost-head:hover { background: #0a5b8e; border: 2px solid #0a5b8e; color: white; }

.section1 { width: 95%; margin: 0 auto; padding-top: 30px; padding-bottom: 30px; }

.section1-text { padding-left: 3%; padding-right: 3%; }

.buttons-section1 { margin-top: 60px; }

.CTA-button-full-section1 { height: 50px; width: 95%; border: none; margin: 0 auto; background: #0976BB; text-align: center; margin-top: 10px; padding-top: 5px; color: white; transition: 0.5s all; }

.CTA-button-ghost-section1 { height: 50px; width: 95%; border: 2px solid #0976BB; background: white; margin: 0 auto; text-align: center; margin-top: 10px; padding-top: 5px; color: #0976BB; transition: 0.5s all; }

.CTA-button-full-section1:hover { background: #0a5b8e; }

.CTA-button-ghost-section1:hover { background: #0a5b8e; border: 2px solid #0a5b8e; color: white; }

.section1-image { height: 400px; }

.instant-prices { display: block; margin-left: auto; margin-right: auto; }

.testemonial-section { padding-top: 40px; padding-bottom: 60px; }

.testemonial { padding: 20px; border-left: 4px solid #0976BB; }

.client-holder { width: 100px; height: 100px; margin: 0 auto; }

.section2-index { background: #0976BB; padding-top: 50px; padding-bottom: 70px; }

.section2-index-wrapper { width: 95%; margin: 0 auto; }

.section2-index-icon-holder { width: 95%; margin: 0 auto; margin-top: 10px; }

.section3 { width: 95%; margin: 0 auto; background: red; }

.section3-row { padding-top: 50px; padding-bottom: 70px; }

.mail-box { background: #F5F5F5; border: 1px solid #C3C3C3; width: 100%; margin-top: 40px; padding: 15px; }

.mail-input { width: 100%; padding-top: 10px; padding-bottom: 10px; background: white; padding-left: 20px; border: 1px solid #C3C3C3; margin-bottom: 10px; }

.get-pdf-button { width: 100%; border: none; padding-top: 10px; padding-bottom: 10px; background: #0976BB; color: white; transition: 0.5s all; }

.get-pdf-button:hover { width: 100%; border: none; padding-top: 10px; padding-bottom: 10px; background: #0a5b8e; color: white; }

.pdf-download-section-img { max-height: 250px; max-width: 250px; padding-top: 60px; margin: 0 auto; }

.CTA-section { background: #0976BB; padding-top: 50px; padding-bottom: 50px; }

.CTA-wrapper { width: 95%; margin: 0 auto; }

.CTA-buttons-CTA { height: 50px; }

.CTA-button-full-CTA { height: 50px; width: 95%; border: none; margin: 0 auto; background: white; text-align: center; margin-top: 10px; padding-top: 5px; color: #0976BB; transition: 0.5s all; }

.CTA-button-ghost-CTA { height: 50px; width: 95%; border: 2px solid white; background: #0976BB; margin: 0 auto; text-align: center; margin-top: 10px; padding-top: 5px; color: white; transition: 0.5s all; }

.CTA-button-full-CTA:hover { background: #0a5b8e; color: white; }

.CTA-button-ghost-CTA:hover { background: #0a5b8e; border: 2px solid #0a5b8e; color: white; }

.index-wrapper { width: 95%; margin: 0 auto; }

.company-logo-section { background: #f5f5f5; border-top: 1px solid #d4d4d4; border-bottom: 1px solid #d4d4d4; padding-top: 30px; padding-bottom: 20px; }

.company-logo-img-hodler { width: 80%; margin: 0 auto; }

.client-link { text-align: center; padding-top: 20px; }

.case-study { padding-top: 30px; padding-bottom: 30px; }

.case-study-shell { width: 95%; height: 170px; padding-top: 10px; padding-bottom: 10px; transition: 0.5s all; margin: 0 auto; }

.case-study-holder { margin-top: 20px; width: 110px; height: 110px; background: url(../img/case-study.png); background-size: contain; transition: 0.5s all; }

.case-study-text { border-left: 4px solid #0976BB; height: 150px; transition: 0.5s all; }

.case-study-head { color: #0976BB; margin-top: 5px; transition: 0.5s all; }

.case-study-p { transition: 0.5s all; }

.case-study-full-button { height: 30px; width: 45%; position: absolute; top: 110px; border: none; margin: 0 auto; background: #0976BB; text-align: center; margin-top: 10px; padding-top: 5px; color: white; transition: 0.5s all; }

.case-study-shell:hover { background: #0976BB; }

.case-study-shell:hover .case-study-text { border-left: 4px solid white; }

.case-study-shell:hover .case-study-head { color: white; }

.case-study-shell:hover .case-study-p { color: white; }

.case-study-shell:hover .case-study-full-button { background: white; color: #0976BB; }

.case-study-shell:hover .case-study-holder { background: url(../img/case-study-white.pmg.png); background-size: contain; }

.input-field { width: 100%; padding-top: 5px; padding-bottom: 5px; padding-left: 20px; margin-bottom: 20px; }

.submit-btn { width: 50%; border: none; background: #0976BB; color: white; margin-top: 20px; padding-top: 12px; padding-bottom: 12px; transition: 0.5s all; }

.submit-btn:hover { background: #0a5b8e; color: white; }

.form-horizontal .control-label { text-align: left; margin-bottom: 10px; }

.control-label { padding-right: 0px; }

.form-control { border-radius: 0px; }

.control-label-margin { margin-bottom: 200px; }

.check-holder { width: 100%; height: 15px; margin-left: -15px; margin-bottom: 120px; }

.chceck-img { height: 15px; }

.company-wrapper { max-width: 520px; margin: 0 auto; }

.footer { background: #1B1B1B; padding-top: 40px; padding-bottom: 30px; }

ul { list-style-type: none; color: white; }

.footer-wrapper { width: 95%; }

h1 { color: #0976BB; margin-bottom: 50px; text-align: left; font-size: 3em; }

p { color: #222222; margin-bottom: 5px; font-size: 1.1em; }

a { font-size: 1.1em; }

.underline { text-decoration: underline; }

.fun-fact { color: #222222; font-size: 1em; margin-top: 30px; margin-bottom: 30px; }

.section2-index-h1 { color: white; text-align: center; margin-bottom: 20px; }

.section2-index-h3 { color: white; text-align: center; font-size: 1.4em; }

.section2-index-p { color: white; text-align: center; font-size: 1em; }

.h2-section3 { font-size: 1.6em; margin-top: -50px; margin-bottom: 40px; }

.CTA-h2 { color: white; text-align: center; padding: 0; }

li a { color: white; font-size: 0.9em; }

.footer-category-title { font-size: 1.2em; margin-bottom: 10px; }

.footer-p { color: white; font-size: 0.9em; }

#active { color: #0976BB; }

.company-wrapper { max-width: 520px; margin: 0 auto; }

.navbar-default .navbar-nav > li > a { color: #2f2f2f; font-size: 1.03em; letter-spacing: 0px; }

.section2-index-icon-title { color: white; text-align: center; font-size: 1.3em; }

.section2-index-icon-p { color: white; font-size: 1em; text-align: center; }

.section2-index-p { text-align: center; color: white; width: 80%; margin: 0 auto; }

.client-name { text-align: center; color: #0976BB; font-size: 1.2em; margin-bottom: 0px; }

.client-position { text-align: center; font-size: 1em; }

.case-study-heading { color: #0976BB; padding: 0px; margin: 0px; margin-bottom: 10px; text-align: center; font-size: 1.2em; }

@media (min-width: 768px) and (max-width: 992px) { .above-header-CTA { height: 50px; }
  h1 { text-align: center; }
  p { text-align: center; }
  ul { text-align: center; }
  .CTA-button-full-section1 { width: 100%; }
  .CTA-button-ghost-section1 { width: 100%; }
  .h2-section2 { text-align: center; }
  .h3-seciton2 { text-align: center; }
  .h2-section3 { text-align: center; }
  .CTA-section { padding-bottom: 130px; }
  .CTA-button-ghost-CTA { width: 100%; }
  .section2-link { text-align: center; display: block; }
  .CTA-button-full-CTA { width: 100%; } }
@media (min-width: 0px) and (max-width: 768px) { .above-header-CTA { height: 150px; }
  h1 { text-align: center; }
  h5 { text-align: center; }
  p { text-align: center; }
  ul { text-align: center; }
  .CTA-button-full-section1 { width: 100%; }
  .CTA-button-ghost-section1 { width: 100%; }
  .h2-section2 { text-align: center; }
  .h3-seciton2 { text-align: center; }
  .h2-section3 { text-align: center; }
  .CTA-section { padding-bottom: 130px; }
  .CTA-button-ghost-CTA { width: 100%; }
  .section2-link { text-align: center; display: block; }
  .CTA-button-full-CTA { width: 100%; } }

/*# sourceMappingURL=main.css.map */
