

<div class="row section3">
    <div class="col-md-7 col-sm-12 col-xs-12 section1-text">
        <h1>Download our free PDF:</h1>
        <h2 class="h2-section3">"Modern development: 6 Mistakes you have to avoid"</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus.</p>

        <div class="col-md-12 col-sm-12 col-xs-12 mail-box">
            <input type="email" name="email" class="mail-input" id="" placeholder="E-Mail address">
            <input type="submit" class="get-pdf-button" value="GET FREE PDF">
        </div>
    </div>
    <div class="col-md-5 hidden-md hidden-sm hidden-xs">
        <img src="@Url.Content("~/assets/images/pdf.png")" alt="" class="instant-prices">
    </div>
</div>
