

<div class="row section3">
    <div class="col-md-7 col-sm-12 col-xs-12 section1-text">
        <h1>Download our free PDF:</h1>
        <h2 class="h2-section3">"Modern development: 6 Mistakes you have to avoid"</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus.</p>

        <div class="col-md-12 col-sm-12 col-xs-12 mail-box">
<<<<<<< HEAD
            
            <!-- Begin MailChimp Signup Form -->
            <div id="mc_embed_signup">
                <form action="//jarboo.us9.list-manage.com/subscribe/post?u=d7f26f1c6e2ffe07ab5b7efd5&amp;id=60e680a9bd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                        <div class="mc-field-group">
                            <input type="email" value="" name="EMAIL" class="required email mail-input" id="mce-EMAIL" placeholder="E-Mail address">
                        </div>
                        <div class="mc-field-group">
                            <input type="hidden" value="" name="FNAME" class="" id="mce-FNAME">
                        </div>
                        <div class="mc-field-group">
                            <input type="hidden" value="" name="LNAME" class="" id="mce-LNAME">
                        </div>
                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display: none"></div>
                            <div class="response" id="mce-success-response" style="display: none"></div>
                        </div>
                        <div style="position: absolute; left: -5000px;"><input type="text" name="b_d7f26f1c6e2ffe07ab5b7efd5_60e680a9bd" tabindex="-1" value="">
                        </div>
                        <div class="clear">
                            <input type="submit" value="GET FREE PDF" name="subscribe" id="mc-embedded-subscribe" class="button get-pdf-button">
                            <input type="hidden" name="JARBOO_PLA" id="JARBOO_PLA" value="GetPdfEbook"/>
                            <!--Change the value of hidden field if you want to use this field somewhere else too-->
                        </div>
                    </div>
                </form>
            </div>
            <!--End mc_embed_signup-->
=======
            <input type="email" name="email" class="mail-input" id="" placeholder="E-Mail address">
            <input type="submit" class="get-pdf-button" value="GET FREE PDF">
>>>>>>> develop
        </div>
    </div>
    <div class="col-md-5 hidden-md hidden-sm hidden-xs">
        <img src="@Url.Content("~/assets/images/pdf.png")" alt="" class="instant-prices">
    </div>
</div>
