@model Services.Domain.Case.Case

<div class="col-md-6 col-sm-12 col-xs-12">
    <div class="case-study-shell">
        <div class="col-md-3 col-sm-3 col-xs-2">
            <div class="case-study-holder"></div>
        </div>
        <div class="col-md-9 col-sm-8 col-xs-10 case-study-text">
            <h3 class="case-study-head">@Model.Title</h3>
            <p class="case-study-p">@Model.Description</p>
            <a href="#"><button class="case-study-full-button">READ MORE</button></a>
        </div>
    </div>
</div>