@model Website.Models.ContactViewModel
@{
    ViewBag.Title = "Contact";
}

<h1>Contact Jarboo</h1>

@if (!string.IsNullOrEmpty(Model.Status))
{
    <div class="bg-success">
        @Model.Status
    </div>
    
}

@using (Html.BeginForm("Contact", "Home", FormMethod.Post))
{
    <div class="form-group">
        <div>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>

        <div>
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>

        <div>
            @Html.TextAreaFor(c=>c.Message,new {@class="form-control"})
        </div>


    </div>

    <input type="submit" value="Send message" class="btn btn-success"/>
}