@model dynamic

@{
    ViewBag.Title = "Modern development: 6 Mistakes you have to avoid - Jarboo";
}

<div class="row content-row">
    <div class="content-wrapper">
        <div class="col-md-12 col-sm-12 col-xs-12 section1-text">
            
            @Html.Partial("_Ebook")
        </div>
    </div>
</div>

