@{
    ViewBag.Title = "Home Page";
}

<div class="row section1">
    <div class="col-md-7 col-sm-12 col-xs-12 section1-text">
        <h1>
            Are you tired of how software <br>development works today?
        </h1>
        <p>
            Are you tired of missing deadlines, paying a lot of money and not receiving the software you really wanted? So were we and we founded Jarboo.
        </p>
        <p>Jarboo provides affordable, scaleable and reliable  development - on time.</p>
        <div class="row buttons-section1">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <button class="CTA-button-full-section1">DISCUSS A PROJECT</button>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <button class="CTA-button-ghost-section1">CONTACT US</button>
            </div>
        </div>
        <p class="fun-fact"><span style="color:#0976BB;">Did you know?</span> We're cheaper than employees, <br> and we have no minimum project size?</p>
    </div>
    <div class="col-md-5 col-sm-12 col-xs-12 section1-image">
        <img src="@Url.Content("~/assets/images/instant-prices.png")" alt="" class="instant-prices">
    </div>
</div>

<div class="row section2">
    <div class="section2-wrapper">
        <div class="col-md-6 col-sm-12 col-xs-12 section1-text">
            <h1>We have found a new way to do software development</h1>
            <p>
                <i>
                    "Why are developers always late?"
                    <br> "Why is it impossible to find good developers?"  <br> "Why did the developer not code the right thing?"
                </i>
            </p>
            <p>Our whole careers, we've heard executives, founders and employees complain. We've worked hard to rethink how software development is done.</p>
            <h2 class="h2-section2">We are mix of employees, consultants and outsourcing</h2>

            <p>
                Employees, consultants and outsourcing has pro and cons.
                <br>
                <br><b>Employees</b> are great for building loyal teams with domain knowledge, but they're not scaleable and difficult to hire (and very risky). <br><br><b>Consultants</b> are technical domain experts and scaleable, but very expensive and not loyal. <br><br><b>Outsourcing</b> is affordable and scaleable, but very difficult to manage and a lot of time can be spent on mistakes.
                <br><br>Jarboo is the best from all worlds.<br>You receive a loyal team, and you pay for hours used (with no minimum project size). It's cheaper than employees. Your main contact person is an experienced project manager who both understand business and technology. All code is designed and reviewed by a strong technical architect.
            </p>

            <p><a href="#" class="section2-link">How do we solve development</a></p>
        </div>

        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="company-wrapper">
                <img src="@Url.Content("~/assets/images/references/comapny.png")" alt="">
            </div>
        </div>
    </div>
</div>

<div class="row section3">
    <div class="col-md-7 col-sm-12 col-xs-12 section1-text">
        <h1>Download our free PDF:</h1>
        <h2 class="h2-section3">"Modern development: 6 Mistakes you have to avoid"</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus.</p>

        <div class="col-md-12 col-sm-12 col-xs-12 mail-box">
            <input type="email" name="email" class="mail-input" id="" placeholder="E-Mail address">
            <input type="submit" class="get-pdf-button" value="GET FREE PDF">
        </div>
    </div>
    <div class="col-md-5 hidden-md hidden-sm hidden-xs">
        <img src="@Url.Content("~/assets/images/pdf.png")" alt="" class="instant-prices">
    </div>
</div>
