@model List<Services.Domain.Pages.JarbooPage>
@{
    ViewBag.Title = "Blog";
    var page = (int) ViewBag.Page;
    int? totalPages = null;
    var artcile = Model.FirstOrDefault();
    if (artcile != null)
    {
        totalPages = artcile.Pages;
    }
}           
           
<div class="row content-row">
    <div class="content-wrapper">
        @foreach (var post in Model)
        {
            <div class="col-md-12 col-sm-12 col-xs-12 section1-text">
                <h2>@post.Title</h2>

                @Html.Raw(post.Content)
            </div>
        }

        <div>
            @if (page > 1)
            {
                <a href="@Url.Action("Blog", new {controller = "Page", page = page - 1})" class="btn btn-primary">Previous</a>
            }

            @if (totalPages != null && page < totalPages)
            {
                <a href="@Url.Action("Blog", new {controller = "Page", page = page + 1})" class="btn btn-primary">Next</a>
            }
        </div>
    </div>
</div>
