@model Website.Models.JarbooPageViewModel

@{
    ViewBag.Title = Model.Title;
    if (Model.UseSidebarLayout)
    {
        Layout = "_SideBarLayout.cshtml";
    }
}

<div class="row content-row">
    <div class="content-wrapper">
        <div class="col-md-12 col-sm-12 col-xs-12 section1-text blog-text">
            <h1>@Html.Raw(Model.Title)</h1>

            @Html.Raw(Model.Content)
        </div>
    </div>
</div>

