@model Services.Domain.Pages.JarbooPage

@{
    ViewBag.Title = Model.Title;
}

<div class="row content-row">
    <div class="content-wrapper">
        <div class="col-md-12 col-sm-12 col-xs-12 section1-text">
            <h1>@Model.Title</h1>

            @Html.Raw(Model.Content)
        </div>
    </div>
</div>